In [1]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented.
# !mamba install -qy pandas==1.3.4 numpy==1.21.4 seaborn==0.9.0 matplotlib==3.5.0 scikit-learn==0.20.1
# Note: If your environment doesn't support "!mamba install", use "!pip install"

In [2]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [3]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import jaccard_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss
from sklearn.metrics import confusion_matrix, accuracy_score
import sklearn.metrics as metrics

In [4]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [5]:
path='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillUp/labs/ML-FinalAssignment/Weather_Data.csv'

In [6]:
await download(path, "Weather_Data.csv")
filename ="Weather_Data.csv"

In [7]:
df = pd.read_csv("Weather_Data.csv")

In [8]:
#filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillUp/labs/ML-FinalAssignment/Weather_Data.csv"
#df = pd.read_csv(filepath)

In [9]:
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,W,41,S,SSW,...,92,84,1017.6,1017.4,8,8,20.7,20.9,Yes,Yes
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,W,41,W,E,...,83,73,1017.9,1016.4,7,7,22.4,24.8,Yes,Yes
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,W,41,ESE,ESE,...,88,86,1016.7,1015.6,7,8,23.5,23.0,Yes,Yes
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,W,41,NNE,E,...,83,90,1014.2,1011.8,8,8,21.4,20.9,Yes,Yes
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,W,41,NNE,W,...,88,74,1008.3,1004.8,8,8,22.5,25.5,Yes,Yes

In [10]:
df_sydney_processed = pd.get_dummies(data=df, columns=['RainToday', 'WindGustDir', 'WindDir9am', 'WindDir3pm'])

In [11]:
df_sydney_processed.replace(['No', 'Yes'], [0,1], inplace=True)

In [12]:
df_sydney_processed.drop('Date',axis=1,inplace=True)

In [13]:
df_sydney_processed = df_sydney_processed.astype(float)

In [14]:
features = df_sydney_processed.drop(columns='RainTomorrow', axis=1)
Y = df_sydney_processed['RainTomorrow']

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 1. Carga tus datos (Â¡RECUERDA USAR EL NOMBRE CORRECTO DE TU ARCHIVO!)
data = pd.read_csv('Weather_Data.csv')

# 2. Define X e y (Â¡RECUERDA USAR EL NOMBRE CORRECTO DE TU COLUMNA OBJETIVO!)
X = data.drop('RainTomorrow', axis=1)  # CaracterÃ­sticas (Â¡ADAPTA 'RainTomorrow' AL NOMBRE REAL!)
y = data['RainTomorrow']  # Variable objetivo (Â¡ADAPTA 'RainTomorrow' AL NOMBRE REAL!)

# 3. Divide los datos (PREGUNTA 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

print("Datos divididos exitosamente.")
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

# ... (resto de tu cÃ³digo)

Datos divididos exitosamente.
X_train shape: (2616, 21)
y_train shape: (2616,)
X_test shape: (655, 21)
y_test shape: (655,)

In [21]:
import pandas as pd
data = pd.read_csv('Weather_Data.csv')  # Reemplaza 'your_data.csv' con tu archivo real
print(data.head())

       Date  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0  2/1/2008     19.5     22.4      15.6          6.2       0.0           W
1  2/2/2008     19.5     25.6       6.0          3.4       2.7           W
2  2/3/2008     21.6     24.5       6.6          2.4       0.1           W
3  2/4/2008     20.2     22.8      18.8          2.2       0.0           W
4  2/5/2008     19.7     25.7      77.4          4.8       0.0           W

   WindGustSpeed WindDir9am WindDir3pm  ...  Humidity9am  Humidity3pm  \
0             41          S        SSW  ...           92           84
1             41          W          E  ...           83           73
2             41        ESE        ESE  ...           88           86
3             41        NNE          E  ...           83           90
4             41        NNE          W  ...           88           74

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1017.6       1017.4         8         8     20.7     20.9        Yes
1       1017.9       1016.4         7         7     22.4     24.8        Yes
2       1016.7       1015.6         7         8     23.5     23.0        Yes
3       1014.2       1011.8         8         8     21.4     20.9        Yes
4       1008.3       1004.8         8         8     22.5     25.5        Yes

   RainTomorrow
0           Yes
1           Yes
2           Yes
3           Yes
4           Yes

[5 rows x 22 columns]

In [22]:
print(data.dtypes)

Date              object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed      int64
WindDir9am        object
WindDir3pm        object
WindSpeed9am       int64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [23]:
print(data.describe(include='all'))

            Date      MinTemp      MaxTemp     Rainfall  Evaporation  \
count       3271  3271.000000  3271.000000  3271.000000  3271.000000
unique      3271          NaN          NaN          NaN          NaN
top     2/1/2008          NaN          NaN          NaN          NaN
freq           1          NaN          NaN          NaN          NaN
mean         NaN    14.877102    23.005564     3.342158     5.175787
std          NaN     4.554710     4.483752     9.917746     2.757684
min          NaN     4.300000    11.700000     0.000000     0.000000
25%          NaN    11.000000    19.600000     0.000000     3.200000
50%          NaN    14.900000    22.800000     0.000000     4.800000
75%          NaN    18.800000    26.000000     1.400000     7.000000
max          NaN    27.600000    45.800000   119.400000    18.400000

           Sunshine WindGustDir  WindGustSpeed WindDir9am WindDir3pm  ...  \
count   3271.000000        3271    3271.000000       3271       3271  ...
unique          NaN          16            NaN         16         16  ...
top             NaN           W            NaN          W          E  ...
freq            NaN        1425            NaN       1260        624  ...
mean       7.168970         NaN      41.476307        NaN        NaN  ...
std        3.815966         NaN      10.806951        NaN        NaN  ...
min        0.000000         NaN      17.000000        NaN        NaN  ...
25%        4.250000         NaN      35.000000        NaN        NaN  ...
50%        8.300000         NaN      41.000000        NaN        NaN  ...
75%       10.200000         NaN      44.000000        NaN        NaN  ...
max       13.600000         NaN      96.000000        NaN        NaN  ...

        Humidity9am  Humidity3pm  Pressure9am  Pressure3pm     Cloud9am  \
count   3271.000000  3271.000000  3271.000000  3271.000000  3271.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean      68.243962    54.698563  1018.334424  1016.003085     4.318557
std       15.086127    16.279241     7.020090     7.019915     2.526923
min       19.000000    10.000000   986.700000   989.800000     0.000000
25%       58.000000    44.000000  1013.700000  1011.300000     2.000000
50%       69.000000    56.000000  1018.600000  1016.300000     5.000000
75%       80.000000    64.000000  1023.100000  1020.800000     7.000000
max      100.000000    99.000000  1039.000000  1036.700000     9.000000

           Cloud3pm      Temp9am      Temp3pm  RainToday  RainTomorrow
count   3271.000000  3271.000000  3271.000000       3271          3271
unique          NaN          NaN          NaN          2             2
top             NaN          NaN          NaN         No            No
freq            NaN          NaN          NaN       2422          2422
mean       4.176093    17.821461    21.543656        NaN           NaN
std        2.411274     4.894316     4.297053        NaN           NaN
min        0.000000     6.400000    10.200000        NaN           NaN
25%        2.000000    13.800000    18.400000        NaN           NaN
50%        4.000000    18.200000    21.300000        NaN           NaN
75%        7.000000    21.700000    24.500000        NaN           NaN
max        8.000000    36.500000    44.700000        NaN           NaN

[11 rows x 22 columns]

In [26]:
data.dropna(inplace=True)  # Esto eliminarÃ¡ todas las filas con cualquier valor NaN

In [28]:
print(data.describe(include='all'))

            Date      MinTemp      MaxTemp     Rainfall  Evaporation  \
count       3271  3271.000000  3271.000000  3271.000000  3271.000000
unique      3271          NaN          NaN          NaN          NaN
top     2/1/2008          NaN          NaN          NaN          NaN
freq           1          NaN          NaN          NaN          NaN
mean         NaN    14.877102    23.005564     3.342158     5.175787
std          NaN     4.554710     4.483752     9.917746     2.757684
min          NaN     4.300000    11.700000     0.000000     0.000000
25%          NaN    11.000000    19.600000     0.000000     3.200000
50%          NaN    14.900000    22.800000     0.000000     4.800000
75%          NaN    18.800000    26.000000     1.400000     7.000000
max          NaN    27.600000    45.800000   119.400000    18.400000

           Sunshine WindGustDir  WindGustSpeed WindDir9am WindDir3pm  ...  \
count   3271.000000        3271    3271.000000       3271       3271  ...
unique          NaN          16            NaN         16         16  ...
top             NaN           W            NaN          W          E  ...
freq            NaN        1425            NaN       1260        624  ...
mean       7.168970         NaN      41.476307        NaN        NaN  ...
std        3.815966         NaN      10.806951        NaN        NaN  ...
min        0.000000         NaN      17.000000        NaN        NaN  ...
25%        4.250000         NaN      35.000000        NaN        NaN  ...
50%        8.300000         NaN      41.000000        NaN        NaN  ...
75%       10.200000         NaN      44.000000        NaN        NaN  ...
max       13.600000         NaN      96.000000        NaN        NaN  ...

        Humidity9am  Humidity3pm  Pressure9am  Pressure3pm     Cloud9am  \
count   3271.000000  3271.000000  3271.000000  3271.000000  3271.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean      68.243962    54.698563  1018.334424  1016.003085     4.318557
std       15.086127    16.279241     7.020090     7.019915     2.526923
min       19.000000    10.000000   986.700000   989.800000     0.000000
25%       58.000000    44.000000  1013.700000  1011.300000     2.000000
50%       69.000000    56.000000  1018.600000  1016.300000     5.000000
75%       80.000000    64.000000  1023.100000  1020.800000     7.000000
max      100.000000    99.000000  1039.000000  1036.700000     9.000000

           Cloud3pm      Temp9am      Temp3pm  RainToday  RainTomorrow
count   3271.000000  3271.000000  3271.000000       3271          3271
unique          NaN          NaN          NaN          2             2
top             NaN          NaN          NaN         No            No
freq            NaN          NaN          NaN       2422          2422
mean       4.176093    17.821461    21.543656        NaN           NaN
std        2.411274     4.894316     4.297053        NaN           NaN
min        0.000000     6.400000    10.200000        NaN           NaN
25%        2.000000    13.800000    18.400000        NaN           NaN
50%        4.000000    18.200000    21.300000        NaN           NaN
75%        7.000000    21.700000    24.500000        NaN           NaN
max        8.000000    36.500000    44.700000        NaN           NaN

[11 rows x 22 columns]

In [29]:
data.dropna(inplace=True)

In [30]:
data.dropna(axis=1, inplace=True)

In [31]:
print(data.describe(include='all'))

            Date      MinTemp      MaxTemp     Rainfall  Evaporation  \
count       3271  3271.000000  3271.000000  3271.000000  3271.000000
unique      3271          NaN          NaN          NaN          NaN
top     2/1/2008          NaN          NaN          NaN          NaN
freq           1          NaN          NaN          NaN          NaN
mean         NaN    14.877102    23.005564     3.342158     5.175787
std          NaN     4.554710     4.483752     9.917746     2.757684
min          NaN     4.300000    11.700000     0.000000     0.000000
25%          NaN    11.000000    19.600000     0.000000     3.200000
50%          NaN    14.900000    22.800000     0.000000     4.800000
75%          NaN    18.800000    26.000000     1.400000     7.000000
max          NaN    27.600000    45.800000   119.400000    18.400000

           Sunshine WindGustDir  WindGustSpeed WindDir9am WindDir3pm  ...  \
count   3271.000000        3271    3271.000000       3271       3271  ...
unique          NaN          16            NaN         16         16  ...
top             NaN           W            NaN          W          E  ...
freq            NaN        1425            NaN       1260        624  ...
mean       7.168970         NaN      41.476307        NaN        NaN  ...
std        3.815966         NaN      10.806951        NaN        NaN  ...
min        0.000000         NaN      17.000000        NaN        NaN  ...
25%        4.250000         NaN      35.000000        NaN        NaN  ...
50%        8.300000         NaN      41.000000        NaN        NaN  ...
75%       10.200000         NaN      44.000000        NaN        NaN  ...
max       13.600000         NaN      96.000000        NaN        NaN  ...

        Humidity9am  Humidity3pm  Pressure9am  Pressure3pm     Cloud9am  \
count   3271.000000  3271.000000  3271.000000  3271.000000  3271.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean      68.243962    54.698563  1018.334424  1016.003085     4.318557
std       15.086127    16.279241     7.020090     7.019915     2.526923
min       19.000000    10.000000   986.700000   989.800000     0.000000
25%       58.000000    44.000000  1013.700000  1011.300000     2.000000
50%       69.000000    56.000000  1018.600000  1016.300000     5.000000
75%       80.000000    64.000000  1023.100000  1020.800000     7.000000
max      100.000000    99.000000  1039.000000  1036.700000     9.000000

           Cloud3pm      Temp9am      Temp3pm  RainToday  RainTomorrow
count   3271.000000  3271.000000  3271.000000       3271          3271
unique          NaN          NaN          NaN          2             2
top             NaN          NaN          NaN         No            No
freq            NaN          NaN          NaN       2422          2422
mean       4.176093    17.821461    21.543656        NaN           NaN
std        2.411274     4.894316     4.297053        NaN           NaN
min        0.000000     6.400000    10.200000        NaN           NaN
25%        2.000000    13.800000    18.400000        NaN           NaN
50%        4.000000    18.200000    21.300000        NaN           NaN
75%        7.000000    21.700000    24.500000        NaN           NaN
max        8.000000    36.500000    44.700000        NaN           NaN

[11 rows x 22 columns]

In [33]:
print(data.isnull().all())

MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RainTomorrow     False
Year             False
Month            False
Day              False
dtype: bool

In [34]:
print(data.isnull().any())

MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RainTomorrow     False
Year             False
Month            False
Day              False
dtype: bool